# Listas

In [1]:
lista_01 = [x for x in range(10)]
print(lista_01)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
lista_01.pop(0)
print(lista_01)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
lista_01.pop(-1)
print(lista_01)

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:

lista_01.remove(2)
print(lista_01)

[1, 3, 4, 5, 6, 7, 8]

In [5]:
lista_01.count(33)

0

In [6]:
print(lista_01)
lista_01.index(3)

[1, 3, 4, 5, 6, 7, 8]

1

In [7]:
for i, e in enumerate(lista_01):
    print ('%s index is number %s ' %(i,e))

0 index is number 1
1 index is number 3
2 index is number 4
3 index is number 5
4 index is number 6
5 index is number 7
6 index is number 8

In [22]:
list_1 = [x for x in range(3)]
list_1.insert(0, '0a')
for i in range(10):
    list_1.insert(0,'0h')
print(list_1)

['0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0a', 0, 1, 2]

In [24]:
while '0h' in list_1:
    list_1.remove('0h')
print(list_1)

['0a', 0, 1, 2]

In [25]:
def insert_0a(lst):
    for i in range(10):
        lst.insert(0,'0h')
    print(lst)

In [27]:
insert_0a(list_1)

['0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0h', '0a', 0, 1, 2]

In [34]:
def counting(lst, item):
    """
    inputs: list , item to count
    outputs: number of itens counted in the list
    """
    counter = 0
    for i in lst:
        if i == item:
            counter+=1
    return counter

In [37]:
counting(list_1, '0h')

20

# List Comprehension

In [40]:
squares = []
for i in range(1,101):
    squares.append(i**2)
print(squares, end = ',')

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000],

In [43]:
squares = [x**2 for x in range(101)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [45]:
string = "hello world 12345 eba"
numbers = [x for x in string if x.isdigit()]
print(numbers)

['1', '2', '3', '4', '5']

In [49]:
letters = [x for x in string if not x.isdigit()]
print (letters)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', ' ', 'e', 'b', 'a']

## Conjunto

In [8]:
set_01 = {1,2,3,4,5}
print(set_01)
type(set_01)

{1, 2, 3, 4, 5}

set

In [9]:
a = []
n = 0
while n < 2:
    
    for i in range (10):
        a.append(i)
    n+=1
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
b = set(a)
print(b)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
c = {3,4,5}

### funções de conjunto

In [12]:
union = b.union(c)
print(union)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
inter = b.intersection(c)
print(inter)

{3, 4, 5}

In [14]:
diff = b.difference(c)
print(diff)

{0, 1, 2, 6, 7, 8, 9}

# Dicionários

In [15]:
d = {'Fernando': 20, 'Pedro': 32}
print(d['Fernando'])

20

In [16]:
print(d.keys())

dict_keys(['Fernando', 'Pedro'])

In [17]:
#adicionando nova chave
d['Filipe'] = 33
print(d)

{'Fernando': 20, 'Pedro': 32, 'Filipe': 33}

In [18]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['Fernando', 'Pedro', 'Filipe'])
dict_values([20, 32, 33])
dict_items([('Fernando', 20), ('Pedro', 32), ('Filipe', 33)])

In [19]:
del d['Fernando']
print(d)

{'Pedro': 32, 'Filipe': 33}